.footer-div {
  display: block;
  border: 5px solid #20822f;
  border-radius: 10px;
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.footer-p {
  margin: 0 auto;
  font-size: 12px;
  text-align: center;
  padding: 15px;
  background-color: #20822f;
}

.footer-span {
  color: white;
  background-color: #20822f;
}
