@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");

html {
  font-family: "Playfair Display", serif !important;
}

.app-style {
  background-image: url("./images/css-pattern-by-magicpattern.png");
  background-size: "cover";
  background-attachment: "fixed";
  min-height: "100vh";
}

/* b5e48c
76c893
34a0a4
1a759f */
