/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

/* Navbar styling */
.navbar {
  background-color: transparent !important;
}

.navbar-toggler {
  border-color: transparent;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Sidebar styling */
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100vh;
  background: #333; /* Main sidebar background */
  transition: left 0.3s ease-out;
  z-index: 1040;
  padding-top: 20px; /* Reduced padding to move dashboard to the very top */
}

.sidebar-header {
  background: #b5e48c;
  color: #1a759f;
  padding: 20px;
  text-align: center;
  border-bottom: 2px solid #76c893; /* Attractive spacing with a border */
}

.sidebar-footer {
  background: #b5e48c;
  color: #1a759f;
  padding: 20px;
  text-align: center;
  border-top: 2px solid #76c893; /* Attractive spacing with a border */
}

.nav-links li {
  list-style-type: none;
}

.nav-links a {
  background: #76c893; /* Lighter green for contrast */
  color: #1a759f; /* Deep blue for text */
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  text-align: center;
  width: 100%;
  transition: background-color 0.3s, transform 0.3s;
  border-radius: 5px; /* Slight rounding for a softer look */
}

.nav-links a:hover {
  transform: translateY(-2px); /* Subtle 3D hover effect */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Toned down shadow for less glow */
}

.nav-links a#home {
  font-size: 1.25em;
  font-weight: bold;
}

.show-sidebar {
  left: 0;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1039;
}

.overlay.active {
  display: block;
}

/* Enhancements for responsiveness and additional styling */
@media (min-width: 992px) {
  .sidebar {
    padding-top: 0;
  }
}

/* Additional styles to align with your design needs */
.header-container {
  position: relative;
  width: 100%;
  height: auto;
}

.header-video {
  width: 100%;
  height: auto;
}

.video-overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
